<ion-view style="" >

    <ion-content  class="Backgrd01" scroll="false" overflow-scroll="true" padding="true" style="">
        <div style="text-align: center;" >
	        <img src="img/gNaRmjxSSLuIp4vZchKB_SClogotop10.png" height="70%" width="50%" style="padding-top:0" title="">
        </div>
        <div style="width: 283px; height: 20px; padding:0; " ></div>
        <div style="font-size:16px; font-weight:bold; padding-left: 10px">
		            <p>Meet the team at Saint Connection</p>
        </div>
        <ion-list style=""></ion-list>
        <form style="" class="list"></form>

        <ion-list style=""></ion-list>
        <ion-list style="">
            <ion-item style="" href="mailto:info@saintconnection.com" class="item-thumbnail-left">
                <img src="img/kG7y9J6YTZKdOJvwJAnv_Devon.jpg">
                <h2 " >Devon Johnson</h2>
                <p>Contact Devon</p>
            </ion-item>
        </ion-list>
        <ion-list style="">
            <ion-item style="" href="mailto:info@saintconnection.com" class="item-thumbnail-left">
                <img src="img/38TGg3ShqnRMSi2GF9uw_Aaron.jpg">
                <h2>Aaron Junkersfeld</h2>
                <p>Contact Aaron</p>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 100px;" class="spacer"></div>
               <div style="color:black; font-size:10px">
			               Contact Us SaintConnection Indianapolis, IN USA </div>
			   <div style="color:black; font-size:10px">
            Mail to: info@saintconnection.com</div>
    </ion-content>
</ion-view>