<ion-view style="" title="About Saint Connection">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <ion-list style=""></ion-list>
        <form style="" class="list"></form>
        <div style="">
            <p>Meet the team at Saint Connection</p>
        </div>
        <ion-list style=""></ion-list>
        <ion-list style="">
            <ion-item style="" href="mailto:info@saintconnection.com" class="item-thumbnail-left">
                <img src="img/kG7y9J6YTZKdOJvwJAnv_Devon.jpg">
                <h2>Devon Johnson</h2>
                <p>Contact Devon</p>
            </ion-item>
        </ion-list>
        <ion-list style="">
            <ion-item style="" href="mailto:info@saintconnection.com" class="item-thumbnail-left">
                <img src="img/38TGg3ShqnRMSi2GF9uw_Aaron.jpg">
                <h2>Aaron Junkersfeld</h2>
                <p>Contact Aaron</p>
            </ion-item>
        </ion-list>
        <div style="width: 283px; height: 183px;" class="spacer"></div>
        <div style="">
            <p>Contact Us SaintConnection Indianapolis, IN USA Mail to: info@saintconnection.com</p>
        </div>
    </ion-content>
</ion-view>