

<ion-view style="" title="">
    <ion-content overflow-scroll="true" padding="true">
        <div style="text-align: center;">
            <img src="img/gNaRmjxSSLuIp4vZchKB_SClogotop10.png" height="auto" width="70%">
        </div>
        <div style="text-align: center;">
            <img src="img/8OsRSrGhRiSFhugVItWF_SCSplashNew2.jpg" height="250" width="100%">
        </div>
        <a class="button button-dark button-small button-block" style="color:#2BD928;border-radius:41px 41px 41px 41px;" id="page2-button3" onclick="window.open('http://www.saintconnection.com', '_blank', 'location=yes')">Visit Saint Connection Web Site</a>
        <a class="button button-dark button-small button-block icon ion-android-contacts" style="color:#2BD928;border-radius:41px 41px 41px 41px;" id="page2-button3" onclick="window.open('http://www.saintconnection.com', '_blank', 'location=no,toolbar=yes'); return false;"
        href="#">Visit Saint Connection Web Site</a>
        <a class="button button-dark button-small button-block" style="border-radius:54px 54px 54px 54px;" id="page2-button4" ui-sref="dataPage">Visit Saint Connection Web Site (Using IFRAME With BACK Button)</a>
        <a class="button button-dark button-small button-block" style="color:#9AD689;border-radius:80px 80px 80px 80px;" id="page2-button2" ui-sref="aboutSaintConnection">About</a>
        <div style="font-size:10px">
            <p>Contact Us SaintConnection Indianapolis, IN USA   Mail to: info@saintconnection.com</p>
        </div>
    </ion-content>
</ion-view>