

<ion-view >
    <ion-content class="Backgrd01" style="" >
        <div style="text-align: center; padding-top:0" >
            <img src="img/gNaRmjxSSLuIp4vZchKB_SClogotop10.png" height="70%" width="50%" style="padding-top:0" title="">

            <img src="img/8OsRSrGhRiSFhugVItWF_SCSplashNew2.jpg" height="250" width="100%">
        </div>
        <a class="button button-dark button-small button-block icon ion-android-contacts" style="color:#2BD928;border-radius:41px 41px 41px 41px;" id="page2-button3" onclick="window.open('http://www.saintconnection.com', '_blank', 'location=yes')">Visit Saint Connection Web Site (InAppBrowser - w/Header)</a>
        <a class="button button-dark button-small button-block icon ion-android-contacts" style="color:#2BD928;border-radius:41px 41px 41px 41px;" id="page2-button3" onclick="window.open('http://www.saintconnection.com', '_blank', 'location=no,toolbar=yes');" href="#">Visit Saint Connection Web Site(InAppBrowser - no Header)</a>

        <a class="button button-dark button-small button-block icon ion-android-contacts" style="color:#ff4f4f; border-radius:80px 80px 80px 80px;" id="page2-button4" ui-sref="dataPage">Visit Saint Connection Web Site (Iframe/WebView)</a>
        <div style="width: 283px; height: 1px;" class="spacer"></div>
        <a class="button button-dark button-small button-block" style="color:#9AD689;border-radius:80px 80px 80px 80px;" id="page2-button2" ui-sref="aboutSaintConnection">About</a>
               <div style="color:black; font-size:10px">
			               Contact Us SaintConnection Indianapolis, IN USA </div>
			   <div style="color:black; font-size:10px">
            Mail to: info@saintconnection.com</div>
            <div style="text-align: center; padding-top:0" >
			    V 1
    </div>
    </ion-content>
</ion-view>